.popup-holder{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display:none;
}
.popup{
    background: white;
    width: 70%;
    padding:40;
    border-radius: 10px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: 1s drop;
}
@keyframes drop{
    0%{
        top:-100px;
    }
    100%{
        top:50%;
    }
}
.bg{
    transition: 1s;
}
.close{
    position:absolute;
    right:20px;
    top:5px;
    font-size:40px;
    cursor: pointer;

}